[Unit]
Description=Supply & Marketing System

[Service]
EnvironmentFile=/etc/environment
Type=forking
WorkingDirectory=/home/ubuntu
ExecStart=sudo -b /usr/bin/dotnet /home/ubuntu/lib/ChainSMart.dll deploy
Restart=always

[Install]
WantedBy=multi-user.target
