[Unit]
Description=Revital Platform

[Service]
EnvironmentFile=/etc/environment
Type=forking
WorkingDirectory=/root
ExecStart=/usr/bin/dotnet /root/publish/Revital.dll deploy
Restart=always

[Install]
WantedBy=multi-user.target
